<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes" />
     <!-- 开启web app支持 -->
    <meta content="yes" name="apple-touch-fullscreen"/>
     <!-- 全屏显示 -->
    <meta name="format-detection" content="telephone=no">
	<title>订单详情order_detail</title>
	<link rel="apple-touch-icon-precomposed" href="./public/images/haoroomsicon.jpg" />
	<link rel="apple-touch-startup-image" href="./public/images/haoroomsicon.jpg" />
	<link rel="stylesheet" href="./public/css/style.css">
	<link rel="stylesheet" href="./public/css/swiper.min.css">
</head>
<body>
	<nav id="nav">
		<ul class="navlist">
			<li id="n_0"><a href="?p=home"><span></span></a></li>
			<li id="n_1"><a href="?p=home&c=index&a=cart"><span></span></a>
				<div class="cartnums" style='display: none'>0</div>
			</li>
			<li id="n_2"><a href="?p=home&c=index&a=userinfo"><span class="active"></span></a></li>
			<li id="n_3"><a href="?p=home&c=index&a=list"><span></span></a></li>
		</ul>
	</nav>
	<section class="myorder">
		<div class="topcenter">
			<div class="userhead"><img src="./public/images/morenhead.jpg" alt=""></div>
			<div class="nipic"><p>啊切</p><p class="dingd">我的订单</p></div>
		</div>
		<ul class="buyer_stat">
			<li class="btn_1 "><a href="?p=home&c=index&a=obligation">待付款</a><span>待付款</span></li>
	        <li class="btn_2 "><a href="?p=home&c=index&a=backorders">待发货</a><span>待发货</span></li>
	        <li class="btn_3 "><a href="?p=home&c=index&a=recipt">待收货</a><span>待收货</span></li>
	        <li class="btn_4"><a href="?p=home&c=index&a=complete">已完成</a><span>已完成</span></li>
		</ul>
		<div class="particular_wrap">
			<dl class="order_detail">
				<dt class="til_font"></dt>
				<dt>订单状态</dt>
	            <dd>待发货 </dd>
	            <dt>订单号</dt>
	            <dd>201701060148251527</dd>
	            <dt>下单时间</dt>
	            <dd>2017-01-06 10:22:45</dd>
		    </dl>
		
			<div class="ware_line">
				<div class="ware">
					<div class="ware_list">
						<div class="ware_pic"><img src="./public/images/product/product1.png" height="50" width="50"></div>
						<div class="ware_text">
							<a href="#">产品名称</a><br>
							<span></span>
						</div>
						<div class="ware_text2">
		                  <span>数量:<strong>3</strong></span>
		                  <span>价格:<strong>¥100.00</strong></span>
		                </div>
					</div>
					<div class="ware_list">
						<div class="ware_pic"><img src="./public/images/product/product1.png" height="50" width="50"></div>
						<div class="ware_text">
							<a href="#">产品名称</a><br>
							<span></span>
						</div>
						<div class="ware_text2">
		                  <span>数量:<strong>3</strong></span>
		                  <span>价格:<strong>¥100.00</strong></span>
		                </div>
					</div>
					<div class="transportation">
						总价:<b>¥500.00</b>
					</div>
					<ul class="fapiao">
			            <li>发票类型：普通发票</li>
			            <li>发票抬头： 上海兴安得力软件有限公司</li>
			        </ul>
			          
			        <ul class="order_detail_list">
			            <li>支付方式:货到付款</li>
			            <li>下单时间:2014-06-09 10:22:48</li>
			        </ul>
				</div>
			</div>
			<dl>
		        <dt class="til_font">物流信息</dt>
		        <dt>收货地址</dt>
		        <dd>weqweqwe, &nbsp;15788888888, 天津市市辖县静海县qwe</dd>
		    </dl>
		</div>		
	</section>




	<script src="./public/js/libs/require.js" data-main='./public/js/views/enter/mainconfig'></script>
</body>
</html>