<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes" />
     <!-- 开启web app支持 -->
    <meta content="yes" name="apple-touch-fullscreen"/>
     <!-- 全屏显示 -->
    <meta name="format-detection" content="telephone=no">
	<title>login</title>
	<link rel="apple-touch-icon-precomposed" href="./public/images/haoroomsicon.jpg" />
	<link rel="apple-touch-startup-image" href="./public/images/haoroomsicon.jpg" />
	<link rel="stylesheet" href="./public/css/style.css">
	<link rel="stylesheet" href="./public/css/swiper.min.css">
</head>
<body>
	<header class="u-header">
	  <div class="uc_return">
	            <div class="uc_return_l" onclick="window.history.back()"></div>
	            <div class="uc_return_c">注册</div>
	            <div class="uc_return_r"><a href="?p=home&c=index&a=login">登录</a></div>
	   </div>	  
	</header>
	<section class="logging">
        <ul class="bgf pl12 outborder">
            <li class="pt12 pb12 border_bottom">
                <s></s>
                <input name="mobile" type="number" placeholder="请输入您的手机号" id="login_userName">
                <s class="warn" style="display:none;"></s>
            </li>
            <li class="pt12 pb12">
                <s class="uc_logging_password"></s>
                <input name="userpwd" type="password" placeholder="请输入您的密码" id="login_Password">
                <s class="warn"  style="display:none;"></s>
            </li>
            <li class="pt12 pb12">
                <s class="uc_logging_password"></s>
                <input name="confirm" type="password" placeholder="确认密码" id="confirmPassword">
                <s class="warn"  style="display:none;"></s>
            </li>
        </ul>
        <div class="find_paw"><a href="#">忘记密码？</a></div>
        <div class="btn_wrap" id="login_user">
            <span class="btn">注 册</span>
        </div>
        <div class="quick_register">
            <div><a href="?p=home&c=index&a=login">已有账号登录&gt;</a></div>
        </div>
 	</section>




	<script src="./public/js/libs/require.js" data-main='./public/js/views/enter/mainconfig'></script>
</body>
</html>