<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes" />
     <!-- 开启web app支持 -->
    <meta content="yes" name="apple-touch-fullscreen"/>
     <!-- 全屏显示 -->
    <meta name="format-detection" content="telephone=no">
	<title>userinfo</title>
	<link rel="apple-touch-icon-precomposed" href="./public/images/haoroomsicon.jpg" />
	<link rel="apple-touch-startup-image" href="./public/images/haoroomsicon.jpg" />
	<link rel="stylesheet" href="./public/css/style.css">
	<link rel="stylesheet" href="./public/css/swiper.min.css">
</head>
<body>
	<nav id="nav">
		<ul class="navlist">
			<li id="n_0"><a href="?p=home"><span></span></a></li>
			<li id="n_1"><a href="?p=home&c=index&a=cart"><span></span></a>
				<div class="cartnums" style='display: none'>0</div>
			</li>
			<li id="n_2"><a href="?p=home&c=index&a=userinfo"><span class="active"></span></a></li>
			<li id="n_3"><a href="?p=home&c=index&a=list"><span></span></a></li>
		</ul>
	</nav>
	<section class="userinfo">
		<div class="userlist p5">
			<table width="100%" border='0' cellspacing="0" cellpadding="0">
				<tr>
					<td rowspan="5" align="center" width='30%'>
						<img src="./public/images/morenhead.jpg" width="100" />
					</td>
					<td class='nicheng p18'>啊切</td>
				</tr>
				<tr>
					<td class="p18"><b>姓名：</b>aqie</td>
				</tr>
				<tr>
					<td class="p18"><b>手机：</b>16666666666</td>
				</tr>
				<tr>
					<td class="p18"><b>单位名称：</b>啊切商城</td>
				</tr>
				<tr>
					<td class="p18"><b>单位地址：</b>啊切商城</td>
				</tr>
			</table>
		</div>
		<div class="userlist">
			<a href="?p=home&c=index&a=address"><div class="contentlist"><p class="pt20">收货地址</p></div></a>
			<a href="?p=home&c=index&a=orderdetail"><div class="contentlist"><p class="pt20">我的订单</p></div></a>
			<a href="?p=home&c=index&a=login"><div class="contentlist bgn"><p class="pt20">切换账号</p></div></a>
			<a href="?p=home&c=index&a=login"><div class="contentlist bgn"><p class="pt20">退出登录</p></div></a>
		</div>
	</section>



	<script src="./public/js/libs/require.js" data-main='./public/js/views/enter/mainconfig'></script>
</body>
</html>